<%
color_background =   '#47167f'

num_articles_per_card ||= 3

if is_icon then
  img_class = 'card_icon'
  style=""
else
  img_class = 'card_image'
  style="background-image:url('#{img_url}');"
end
%>

<div  class="card">
    <div class="card-img-wrap <%= img_class %>" style="background-color:<%= color_background %>;<%= style %>;">
        <h4><%= tag_name.capitalize %></h4>
        <%if is_icon then %>
          <%= app.image_tag img_url, alt: tag_name %>
        <% end %>
    </div>
    <div class="card-content">
        <ul>
          <% articles.each_with_index do |article, i| %>
            <%
            #only use a max of 3 articles
            if i > (num_articles_per_card-1) then
              next
            end
            %>
            <li>
              <%= link_to article.title, article %>
            </li>
          <% end %>
        </ul>

        <!--
        <% if articles.length > num_articles_per_card then %>
          <p class="center"><%= link_to "More \"#{tag_name.capitalize}\" posts...", tag_path(tag_name) %></p>
        <% end %>
        -->
    </div>
</div>
