<%
#get the img, allow custom and default settings
header_img = "#{config[:host]}/images/site-header-img.jpg"
custom_img = current_page.data.dig(:top_img)
if custom_img != nil and custom_img.length > 0
  header_img = prefix_img(custom_img)
end

%>

<header class="site-header-banner">
  <navbar>
    <div class = "site_header">
      <h1><%= link_to "Bonk To The Finish", "/" %></h1>
    </div>
    <div class="site_links">
      <%= link_to("About", "/about.html") %>
      <%= link_to("Races", "/all_races.html") %>
      <%= link_to("Articles", "/archive.html") %>
      <%= link_to("Discounts", "/discounts.html") %>
    </div>
  </navbar>

  <div class="site-header-image" style="background-image:url(<%= header_img %>);" >
    <!-- <img src="<%= header_img %>" alt="Site Header Image" /> -->
  </div>
</header>
