<!--
<navbar class="main-navbar">
  <div class="flex_row">
    <span class="sides footer-links">
      <%= link_to "Bonk!", "/" %>
    </span>

    <span class=""></span>

    <span class="sides">
      <%= link_to("About", "/about.html") %>
      <%= link_to("Archive", "/archive.html") %>
    </span>
  </div>
</navbar>
-->
<h1 class="title deepshadow"><%= link_to "Bonk To The Finish", "/" %></h1>

<navbar>
  <div class="inner">
    <div class="left">
      <%= link_to("About", "/about.html") %>
    </div>
    <div class="right">
      <%= link_to("Archive", "/archive.html") %>
    </div>
  </div>
</navbar>
