<%
classes||=""
id||="" 
tags = article.tags.map {|tag| link_to "#{tag}", tag_path(tag) }

%>


<section class="post_feature <%= classes %>" style="background-image: url('<%= get_article_img_src(article) %>')" id="<%= id %>">
  <div>
    <h4><%= link_to article.title, article %> </h4>
    <span>
      <time><%= article.date.strftime("%B %e, %Y") %></time> 
      | 
      <span class="tag-list">
        <%= tags.join(", ")%>
      </span>
    </span>
  </div>

</section>

