<%
note_idx=1
%>

<!-- Do not create table if there are 0 elements in it-->
<% if info.length > 0 %>

<%
if info.length > 1

  avg_road_time = 0
  avg_trail_time = 0
  num_trail_races = 0
  num_road_races = 0
  info.each do |race|
    if race.trail
      avg_trail_time += race.time.to_f()
      num_trail_races += 1
    else
      avg_road_time += race.time.to_f()
      num_road_races += 1
    end
  end
  %>

  <!-- <p class="center"><%= info.length %> Races</p> -->

  <% if num_road_races > 0
    avg_road_time /= num_road_races
    %>
    <p class="center"><%= num_road_races %> Road Races - Avg: <%= ChronicDuration.output(avg_road_time.round(2),:format => :short) %></p>
  <% end %>

  <% if num_trail_races > 0
    avg_trail_time /= num_trail_races
    %>
    <p class="center"><%= num_trail_races %> Trail Races - Avg: <%= ChronicDuration.output(avg_trail_time.round(2),:format => :short) %></p>
  <% end %>

<% end %>

<table>
  <thead>
    <tr>
       <th>Race</th>
       <th>Time</th>
       <th>Date</th>
       <th>Place</th>
       <th>Trail</th>
       <th>Notes</th>
    </tr>
  </thead>

  <tbody>

<% info.each do |race|
    #initialize the values
    name = race.name ? race.name :  ""
    time = race.time ? ChronicDuration.output(race.time,:format => :chrono) :  ""
    date = race.date ? race.date :  ""
    location = race.location ? race.location :  ""
    trail = race.trail ? "Yes" :  "No"

    if race.notes then
      notes = "<a href=\"#note_#{distance}_#{note_idx}\">#{note_idx}</a>"
      note_idx +=1
    end
    notes ||= ""

    if race.blog_link then
      name = "<a href=\"/blog/#{race.blog_link}\">#{name}</a>"
    end
    %>
    <tr>
       <th><%= name %></th>
       <th><%= time %></th>
       <th><%= date %></th>
       <th><%= location %></th>
       <th><%= trail %></th>
       <th title="<%= race.notes %>"><%= notes %></th>
    </tr>
  <% end %>

  </tbody>
</table>

<% end %>
