<%
recent_article_links = []
blog.articles[0...5].each do |article|
  recent_article_links.push(link_to "#{article.title}", article)
end

month_articles = []
blog.articles.group_by {|a| a.date.year }.each do |year, year_articles|
  year_articles.group_by {|a_year| a_year.date.month }.each do |month, articles|
    month_articles.push({
      name: Date.new(year, month).strftime('%B %Y'),
      link: "/blog/#{year}/#{month.to_s.rjust(2, '0')}.html"
      })
  end
end
%>

<aside class="sidebar">
  <!--
  <div class="about">
    <h4>About</h4>

    <%=
    #http://www.rubydoc.info/gems/middleman-core/Middleman/Sitemap/Resource
    #https://forum.middlemanapp.com/t/querying-proxy-pages-by-locals/1195
    # about_pg = sitemap.resources.select{|r| r.path == 'about.html'}[0]
    # about_pg.summary #Crash - undefined method `summary' for #<Middleman::Sitemap::Resource path=about.html>
    # blog.articles[0].summary #works! but i don't care about blog article summaries here, I want the about page summary
    %>
  </div>
-->

  <div class="follow">
    <h4>Follow</h4>
    <%= partial "partials/email_subscribe_embed.erb" %>
    <%= partial "partials/social_follow.erb" %>
  </div>

  <div class="recent_articles">
    <h4>Recent Articles</h4>
    <%= recent_article_links.join("<hr class='dotted'>")%>
  </div>

  <div class="calendar">
    <h4>Archives</h4>
    <select onChange="window.location.href=this.value">
      <option value="" disabled selected hidden>Select a month</option>
      <% month_articles.each do |info| %>
        <option value="<%= info[:link] %>"><%= info[:name] %></option>
      <% end %>
    </select>
  </div>

  <div class="">
    <h4>Tags</h4>
    <% tags = word_cloud(blog.tags) %>
    <% tags.each do |tag, size_percent|
      min_size = 0.25
      range_size = 1.5
      scaled_percent = size_percent ** 0.4 #give a higher weight to less common tags to prevent domination by 1 or two most common tags
      size = scaled_percent * range_size + min_size
      %>
      <%= link_to "#{tag}", tag_path(tag), { style: "font-size:#{size}em;" }%>
    <% end %>
  </div>
</aside>
