---
title: Earn Your Mittens Race #1: Wisconsin Marathon Race Report
tags: Running, Race, Marathon
race: {
  location: "Kenosha, Wisconsin",
  date: "May 7th 2016",
  distances: "26.2, 13.1, 5k",
  size: "4,000",
  url: "http://borgessrun.com/earn-your-mittens"
}
---

This is part one of [Earn Your Mittens](http://borgessrun.com/earn-your-mittens).
The Wisconsin marathon took place on Saturday and then the Kalamazoo marathon on Sunday.
This post will focus only on the Wisconsin portion of Earn Your Mittens.
A separate post covering the Kalamazoo marathon can be found <a href="https://bonktothefinish.wordpress.com/2016/05/19/kalamazoo-marathon-race-report/" target="_blank">HERE</a>.
A few weeks prior I ran the <a href="https://bonktothefinish.wordpress.com/2016/04/25/pro-football-fall-of-hame-marathon-race-report/" target="_blank">Pro Football HOF marathon</a> and was somewhat disappointed in my finishing time.
A week out, I decided to sign up for the Mittens Challenge because the weekend mileage happened fit into my training schedule and I was already off to Wisconsin a few days later for vacation.
No specific training was involved, I simply packed my bags for an already planned trip a few days early.

###Lodging

Like I said, I signed up for this one pretty late.
I figured hotels would be booked in a small town with less than a week until the race so I looked into campgrounds in the area.
Picking solely based on proximity to the start/finish line of the race, I ended up at Sanders Park.
I called someone to make a reservation but apparently that needs to be done greater than a week in advance.
This puzzled me as she told me the campgrounds were not fully booked and I would have gladly paid the additional reservation fee for the peace of mind.
I figured I'd just deal with it when I showed up on Friday, but I was worried about driving over 6 hours and not having concrete plans on where I'd be spending the night.
The lady on the phone had seemed to question if I truly wanted to stay there, calling it "primitive" and describing alternative options.
I wasn't sure why she thought I'd prefer to stay elsewhere but all I needed was a place to pitch a tent.
The race allowed runners to shower at the local YMCA afterwards on Saturday so I knew at the very least my boyfriend wouldn't be stuck with smelly me on 4+ hour drive to Kalamazoo Saturday.

After arriving I had no idea why the lady was trying to convince me to stay elsewhere.
The shower house had HOT WATER, campsites were a decent size, and the place was almost empty with only 5 out of 23 camp spots occupied on a Friday night.
By a long shot, this was my favorite campground that I've been to in a while.

###Expo

This was a small, simple expo.
It was held in the Kenosha Public Museum.
There were a few booths, one of which was selling cheese items.
If you wore any cheese themed items on race day you were allowed to go into the Cheese Corral and start up in front.
It was a unique concept and I haven't heard of a race that does anything similar.

###Pre Race
I started near the 4:00 pace sign.
This race website said that they did not have pacers because they believe everyone should earn their own time instead of letting a pacer do all the work.
Whatever your thoughts are on pacers, this was a smaller race - not one where I would expect pacers anyways.
Around me were a few other "Mitteners" who were also running Kalamazoo the next day.
The company helped me feel a little more sane about the weekend ahead.

In the 15 minutes leading up to the race start, low dark clouds rolled in.
During the national anthem, lightning filled the sky (luckily I think this happened while race directors' had their backs turned to look at the flag).
There was also one crack of thunder, which got drowned out by the sounds of the speaker system.
The whole week leading up to the race had called for thunderstorms, but that was eventually downgraded to just rain.

Lately I've been learning the ins and outs of Strava, but I purposefully did not bring my phone since it seemed likely that it would rain.

###Miles 0 - 0.5

The lightning made me quite uneasy about how the race would turn out.
I tried not to push the pace too much knowing I had round 2 still ahead.
Within the first half mile of the race we turned down a side street.
All I saw when I turned the corner were hats flying.
The wind was so strong that it would have been a waste to go try and chase down your hat.
A lonely 15% of the hats that remained were tightened or held onto for dear life.
At this point I realized that was likely a good indicator of how the rest of the race would go.

###Miles 0.5 - 11

The route headed 2 miles south through residential areas then turned around back toward downtown.
From here I headed towards the beach.
I know what you're thinking... yes, the view of Lake Michigan was beautiful.
But you forgot about the wind.
A paved trail intersected the beach with sand flying at you from all directions.
I guess you could consider it a free but quite painful spa exfoliation treatment.
Heading north seemed to be a gradual uphill until the turnaround at mile 8.
Picking up the pace felt natural with the downhill straight back along the beach.
Both the half and full runners were lucky to get sandblasted not once, but *TWICE*!

###Miles 11 - 19

The wind didn't seem as bad for a while since the houses shielded you to an extent through the residential areas.
I was hoping that as the day went on the wind would die down.
When this happened for brief periods, I realized how hot it felt.
There were also a couple of miles on dirt/gravel roads.
I saw a runner in minimalist shoes who looked like he was trying to run on his tip toes through this area.
Ow.
To be fair, the race did mention this in advance.

<%= partial "partials/image.erb", locals: {
    src: "635984194906010275.jpg",
    alt: "Running Wisconsin Marathon"} %>



###Miles 19 - 26.2

YIKES.
Anyone who raced will know exactly what I'm talking about for this section.
Remember when I said I was hoping that the wind might die down later in the day?
Well I'm pretty sure it just got worse.
This section was all by the water: very scenic but absolutely brutal.
When I was mid-stride with neither foot on the ground I could feel the wind pushing me backwards.
I tried to keep my feet low to the ground to minimize this as much as possible.
The first thing I did upon finishing was check my phone to see just how bad it was.
My phone reported that wind was 20-25 mph with gusts exceeding 40 mph.
I have no proof of this, but I think by the water it was nonstop gusts.

**Final Time:** 4:02:10

###Finish Area

The wind was driving me nuts.
Every runner got a beer and brat with their bib but I didn't want either.
I grabbed some chocolate milk and hobbled to my car using the space blanket to shield the wind.
I just sat in my car thankful to finally be out of the wind.

**What I liked about this race:**
1. Not so big there's traffic, not so small you feel like you're running by yourself. Perfectly sized race for me.
2. Huge support from the community with tons of locals cheering runners on from their front yards

**Suggestions:**
The only real suggestion I had was that the Mitteners and 'Half and Half-ers' (back to back halfs) get a special bib like Kalamazoo.
It doesn't have to be big and flashy, maybe just a sticker or something so we can pick out others before and during the race.
The bib had a sharpied "M" on it for the Mitteners but this was on the gear check tab so most ripped this off prior to the start.

###Race Shirt

<%= partial "partials/image.erb", locals: {
    src: "20160528_110248-11.jpg",
    alt: "Wisconsin Marathon shirt"} %>

###Medal

Sadly the cape ripped off after being put into a bag that was moved around often during my travel.
I superglued it back together so all is ok.
This medal reminds me of a buff Spongebob.

<%= partial "partials/image.erb", locals: {
    src: "medal1.jpg",
    alt: "Wisconsin Marathon Medal 1"} %>

And the back just for fun...
The little cheese guy's cape fell off in heavy travel to Kalamazoo so I had to superglue it back together.

<%= partial "partials/image.erb", locals: {
    src: "medal2.jpg",
    alt: "Wisconsin Marathon Medal 2"} %>

###’Earn Your Mittens' Mittens:

I joked that I earned only one mitten at this race but I was given both. Suddenly, realizing that both Wisconsin and Michigan look like left mittens, I wondered if I would truly earn the right mitten after Kalamazoo.

<%= partial "partials/image.erb", locals: {
    src: "mittens.jpg",
    alt: "Wisconsin Marathon Mitteners"} %>
