---
title: "Inaugural Canal Corridor 100 Race Report"
tags: race, ultramarathon, 100
top_img: "cc100-top-img.jpg"
race: {
  location: "Lock 3, Arkon, Ohio",
  date: "July 8-9th, 2017",
  distances: "100 miles",
  participants: "79",
  url: "http://canalway100.com/"
}
---

This was my redemption 100.
Last summer I attempted [Burning River 100](processing-a-dnf.html) and had the worst 52 miles of my life due to poor nutrition choices and mentally psyching myself out.

I swore up and down that from that point forward 50ks would be my longest distance.
Well, that lasted all of 5 months.
I carefully weighed my options of attempting BR again, or signing up for a new 100, which at the time had no information on the course, cut off, or pacers.

Canal Corridor was the cheaper of the two and in the end worked better with my work schedule.
I signed up knowing full well that I had no idea what I was getting myself into as final decisions were still being made regarding the race.
All it took was another local 100 for me to change my mind and try again.

###Camping

Race start & finish was located at a park/amphitheatre in downtown Akron.
This meant that there weren't many close camping options.
I ended up finding [Countryside Campgrounds](http://www.countrysidecampgrounds.com/) last minute that was a perfect fit.

The campgrounds were about 20 minutes from the start and reasonably priced at $27/night.
To my surprise I was the only tent there in a sea of RVs.
The tent area was in the back and secluded.

<blockquote class="instagram-media" data-instgrm-captioned data-instgrm-version="7" style=" background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; max-width:658px; padding:0; width:99.375%; width:-webkit-calc(100% - 2px); width:calc(100% - 2px);"><div style="padding:8px;"> <div style=" background:#F8F8F8; line-height:0; margin-top:40px; padding:39.49074074074074% 0; text-align:center; width:100%;"> <div style=" background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACwAAAAsCAMAAAApWqozAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAMUExURczMzPf399fX1+bm5mzY9AMAAADiSURBVDjLvZXbEsMgCES5/P8/t9FuRVCRmU73JWlzosgSIIZURCjo/ad+EQJJB4Hv8BFt+IDpQoCx1wjOSBFhh2XssxEIYn3ulI/6MNReE07UIWJEv8UEOWDS88LY97kqyTliJKKtuYBbruAyVh5wOHiXmpi5we58Ek028czwyuQdLKPG1Bkb4NnM+VeAnfHqn1k4+GPT6uGQcvu2h2OVuIf/gWUFyy8OWEpdyZSa3aVCqpVoVvzZZ2VTnn2wU8qzVjDDetO90GSy9mVLqtgYSy231MxrY6I2gGqjrTY0L8fxCxfCBbhWrsYYAAAAAElFTkSuQmCC); display:block; height:44px; margin:0 auto -44px; position:relative; top:-22px; width:44px;"></div></div> <p style=" margin:8px 0 0 0; padding:0 4px;"> <a href="https://www.instagram.com/p/BWQpSLDlxuR/" style=" color:#000; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:normal; line-height:17px; text-decoration:none; word-wrap:break-word;" target="_blank">I love my ⛺ #camping #alpsmountaineering</a></p> <p style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; line-height:17px; margin-bottom:0; margin-top:8px; overflow:hidden; padding:8px 0 7px; text-align:center; text-overflow:ellipsis; white-space:nowrap;">A post shared by Nicole Huston (@bonktothefinish) on <time style=" font-family:Arial,sans-serif; font-size:14px; line-height:17px;" datetime="2017-07-07T21:15:31+00:00">Jul 7, 2017 at 2:15pm PDT</time></p></div></blockquote>
<script async defer src="//platform.instagram.com/en_US/embeds.js"></script>

##The 100

I slept pretty well the night before.
I woke up feeling rested but a little stressed.
It was either going to go great or horribly.

At the starting line I met up with Matt who I ran [Georgia Death Race](georgia-death-race-report.html) with.

<%= partial "partials/image.erb", locals: {
     src: "start-matt-and-nicole.jpg",
     alt: "Canal Corridor 100 Pre-Race Pic 2017"} %>

A few other [ORRRC](http://orrrc.org/) runners were also at the race.

<%= partial "partials/image.erb", locals: {
     src: "orrrc-runners.jpg",
     alt: "Canal Corridor 100 Pre-Race ORRRC Pic 2017"} %>

It was good to see some friends at the starting line to take some of the nerve off.
I could defer thinking about this race for a little while longer.

James was my only crew and my pacer.
He drove me to the start and made sure I had sunscreen on.
Once I started he was going to go back to sleep for a while as he'd be up all night with me.

<%= partial "partials/image.erb", locals: {
     src: "start-cc100.jpg",
     alt: "Canal Corridor 100 Start Line 2017"} %>

And before we knew it we were off.
Running on the Canalway path there were strange steam sounds huffing and puffing across the way.
Other than that it was mostly silent as reality began to sink in.

"Here goes nothing" was my moto for this race.
I was coming in a little under prepared after having run GDR at the beginning of April.
That was a solid base but I could have done a bit more to maintain.
For the last two months my long runs had been lots of marathon distances but not much back-to-back long runs or anything longer than 50k.

The course started heading south for about 20 miles before the turnaround.
This stretch had a neverending bridge followed by algae filled portions of the canal that looked like alligators should live in.
This was my favorite portion of the canal because it looked so unique compared to most areas of Ohio.

The first turn around came around before I knew it as I was chatting away with Matt and Randy.
This 100 thing didn't seem so bad.

<%= partial "partials/image.erb", locals: {
     src: "1st-turn-around.jpg",
     alt: "Canal Corridor 100 First Turn Around 2017"} %>

After the turn around I began to focus on the next goals ahead: the 50k marker and mile 40ish back at Lock 3.
Somewhere near the 50k mark there was an unmanned water station.
Matt mentioned some guy was taking pictures of us and it took me a while before realizing it was James.
I guess he finally woke up!

I took this chance to take off my compression sleeves because the temperature was starting to heat up.

Matt went along ahead and Randy caught up to me.
I left the water stop happy to see James and honestly a little surprised he was up already.

Up until this point we had done a lot of running, but as the temperature heated up walking started to be mixed in.
Sometimes I was running and could feel myself getting overheated, so I would slow down or walk and remind myself to drink some extra water.

At aid stations I was putting on extra sunscreen and eating all the salty foods trying to prepare myself.
With about 5 miles left until mile 40 morale was coming down for the first time in the day.
The heat was sucking the life and fun out little by little.

Just as the lack of shade and heat radiating from the blacktop started becoming bad, an oasis appeared.
A runner had set up her own makeshift aid station full of ice, water, grapes, and more fruit.

This was amazing!
I could not tell her how needed her presence was at this point.
I dipped my buff in the ice water and put it all over my face and dipped it a second time before leaving that aid station hands full of grapes.
From this point we only had a few miles left to get back to Lock 3.

The "hills" returned as we got closer to Akron and the shade all but disappeared.
That made this stretch feel longer than it was.
I  kept using the steam noises from the morning as a sign that we were closing in on Lock 3.

At Lock 3 I saw James once again and to my surprise he was helping with timing.
I guess I should bring him to ultras more often since he inserts himself as a volunteer.
Here I ate a lot of cantaloupe and sat under a shaded tent for a while.
James helped me with putting more vaseline on my feet and made sure I ate more than I wanted to.

Now we were headed north.
Soon after leaving Lock 3 we had to take a detour off of the Towpath due to construction.
And here's where I found the biggest hills of the course.
This stretch lasted until the 46 mile aid station behind [Second Sole](http://www.secondsoleohio.com/akron).

<%= partial "partials/image.erb", locals: {
     src: "second-sole.jpg",
     alt: "Canal Corridor 100 Mile 45.77 2017"} %>

This was the last time we'd get to see our crew for a LONG time.
I wouldn't see James again until mile 66 when I picked him up as a pacer.

Leaving this aid station we were warned that the upcoming miles had minimal shade and it was reaching the hottest part of the day.
So the recap of miles 46-66 was basically hot, hot, and hotter.
And kind of lonely.
When I reached the Boston Store aid station (mile 57) I was surprised at how many other runners were there.
Now sightings of the fast runners were starting to become more frequent as they raced to head back to Lock 3.

The sun started to set and I was racing to make it to mile 66 to get my headlamp.
The monotony of the flat Towpath was starting to get to me as it seemed no matter how far I ran the scenery still looked the same.
Luckily soon enough it was dark, and I had picked up my pacer. It was only a few miles to the northern most point of this race.
That was an exciting thought.

There was this epic bridge you had to climb before the turn around.
My right upper calf was starting to bother me pretty bad, so I forced myself to stop and ice it for a bit.
Luckily a volunteer gave me a plastic grocery bag that I carried from this point on to ice my calf at aid stations.

Now aid station routine was ice, food, drink.
James was on top of getting me food which gave me extra time to ice at aid stations.

I hobbled on and thought the ice was helping.

We made it back to the Boston Store.
Only 18 miles to go!
I iced my leg again and downed multiple cups of Ramen noodles.

<%= partial "partials/image.erb", locals: {
     src: "mile82-boston-store.jpg",
     alt: "Canal Corridor 100 Boston Store Mile 82.48 2017"} %>

Up until this point I had been in a groove.
I went to get up out of the chair only to find that I could barely bend my right leg.
The ice was no longer helping.
I told James no more ice or letting me sit down at aid stations.
I had to hobble out of that aid staion for a while before I could begin running again.

Here's where everything started to fall apart.
Between my leg and me just wanting to get the race over with, I found myself doing a combinaion of shuffling until my leg hurt too much, then walking until I got impatient and trying to run again.
There were some weird miles in here where I thought James was talking to me only to find out he had said nothing.
Or when I thought other runners had passed me only to find out we hadn't seen anyone for a while.
There are a lot of blank spot with my memory in here where I very easily could have been drifting in and out of sleep while running.

Finally I decided I needed a nap.
I claimed at the next bench I was going to take a 10 minute nap.
James was to set an alarm and not let me sleep a second longer.
But I just had to sleep.
He argued a bit with me before giving in.

Only problem was there weren't a whole lot of park benches in this stretch.
It felt like I had to run 45 minutes just to find a bench but who knows how long it actually was.
I didn't want to lay on the ground because I didn't think I'd be able to easily get back up.

Finally I found a bench and took my nap.
It was GLORIOUS.
Unfortunately it only lasted about 3 minutes, as another runner passed and I wanted to keep going!
I didn't feel 100% yet so forced gels and [caffeine pills](https://www.amazon.com/gp/product/B001QVCSZC/ref=as_li_qf_sp_asin_il_tl?ie=UTF8&tag=bonktothefi07-20&camp=1789&creative=9325&linkCode=as2&creativeASIN=B001QVCSZC&linkId=cbed85db50d6686506ebfdc493c62ed7) into my body as I struggled to keep my eyes open and keep up calories up.

The sun came up but I was still having trouble staying awake.
Caffeine pills became candy.

Before long we were back at the aid station behind Second Sole.
As I came into this aid station my excitement grew.
This was the last stop until the finish at Lock 3.
I pushed us out of there and my adrenaline (or the caffeine) kicked in.

<%= partial "partials/image.erb", locals: {
     src: "finishing.jpg",
     alt: "Canal Corridor 100 Running into the Finish 2017"} %>

I called my dad and told him I was going to finish.
We ran/walked based on the pain in my leg but the running seemed to be getting faster.

The hills of the Towpath detour seemed taller and steeper the second time through but I didn't care.
I was almost done.

Coming into the finish was overwhelming.
James had just finished his first ultra distance and I had completed my first 100 miler.

<%= partial "partials/image.erb", locals: {
     src: "finish-hug.jpg",
     alt: "Canal Corridor 100 Finish Hug 2017"} %>

Although of course I couldn't just finish and be done.
I sat down and elevated my legs.
My right leg was in agony.
Before I knew it I was passed out and shivering on a warm summer morning.

I was quickly moved to the sun where I stayed while waiting for others to finish.

<blockquote class="instagram-media" data-instgrm-version="7" style=" background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; max-width:658px; padding:0; width:99.375%; width:-webkit-calc(100% - 2px); width:calc(100% - 2px);"><div style="padding:8px;"> <div style=" background:#F8F8F8; line-height:0; margin-top:40px; padding:50.0% 0; text-align:center; width:100%;"> <div style=" background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACwAAAAsCAMAAAApWqozAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAMUExURczMzPf399fX1+bm5mzY9AMAAADiSURBVDjLvZXbEsMgCES5/P8/t9FuRVCRmU73JWlzosgSIIZURCjo/ad+EQJJB4Hv8BFt+IDpQoCx1wjOSBFhh2XssxEIYn3ulI/6MNReE07UIWJEv8UEOWDS88LY97kqyTliJKKtuYBbruAyVh5wOHiXmpi5we58Ek028czwyuQdLKPG1Bkb4NnM+VeAnfHqn1k4+GPT6uGQcvu2h2OVuIf/gWUFyy8OWEpdyZSa3aVCqpVoVvzZZ2VTnn2wU8qzVjDDetO90GSy9mVLqtgYSy231MxrY6I2gGqjrTY0L8fxCxfCBbhWrsYYAAAAAElFTkSuQmCC); display:block; height:44px; margin:0 auto -44px; position:relative; top:-22px; width:44px;"></div></div><p style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; line-height:17px; margin-bottom:0; margin-top:8px; overflow:hidden; padding:8px 0 7px; text-align:center; text-overflow:ellipsis; white-space:nowrap;"><a href="https://www.instagram.com/p/BWZDpGxFdlJ/" style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:normal; line-height:17px; text-decoration:none;" target="_blank">A post shared by Nicole Huston (@bonktothefinish)</a> on <time style=" font-family:Arial,sans-serif; font-size:14px; line-height:17px;" datetime="2017-07-11T03:39:45+00:00">Jul 10, 2017 at 8:39pm PDT</time></p></div></blockquote>
<script async defer src="//platform.instagram.com/en_US/embeds.js"></script>

Going into this race I told myself this would be my first and last 100 miler.
I thought I was going to be a one and done buckle runner.
It only took me about 2 weeks to sign up for another 100 though....

###Race Collections

<%= partial "partials/image.erb", locals: {
     src: "cc100-shirt-buckle-sticker.jpg",
     alt: "Canal Corridor 100 Shirt, Sticker, Belt Buckle 2017"} %>


[Canal Corridor Aftermath](bakers-cyst-and-bursitis.html)
