---
title: "Bovon Water Straw Product Review"
tags: product review, camping, survival
top_img: "XXX.jpg"
---

<a href="https://www.tomoson.com?code=TOP5437f08da460375c2b04a3259f647f84" rel="nofollow" style="display: none;"></a>

*Disclaimer: I recieved this product for a discount in exchange for my honest review. All opinions presented are my own.*

[Amazon Link](http://www.amazon.com/gp/product/B06XKFV2BM)

This water straw contains an activated carbon filter and does not use any chemicals.
The life of this straw is approximately 1000 liters.

<%= partial "partials/image.erb", locals: {
    src: "IMG_20170410_194114-2.jpg",
    alt: "Bovon Water Straw Packaging"} %>

###Top of Straw

<%= partial "partials/image.erb", locals: {
    src: "IMG_20170410_194134-2.jpg",
    alt: "Bovon Water Straw Packaging Top"} %>

###Bottom of Straw

<%= partial "partials/image.erb", locals: {
    src: "IMG_20170410_194130-2.jpg",
    alt: "Bovon Water Straw Packaging Bottom"} %>

###Testing with Tap Water

To start with something easy, I took to tap water to test the filter.
The product had a chemical taste to me at first which didn't excite me.
After some research I found that this is [common for water straws.](http://lifestraw.com/faq/why-does-my-lifestraw-go-have-a-plastic-taste/)
I worked water through the filter until the taste had died down.

<%= partial "partials/image.erb", locals: {
    src: "IMG_20170410_194454-2.jpg",
    alt: "Bovon Water Straw Test 1"} %>

###Next Test, Smoothie...

Tap water isn't the best test of a filter's capability so it was time to move onto something harder.
Smoothie anyone?
Since I wasn't familiar with the brand I wasn't confidient on how it would fair under this test.

<%= partial "partials/image.erb", locals: {
    src: "IMG_20170410_194936-2.jpg",
    alt: "Bovon Water Straw Test 2 Smoothie"} %>

I was prepared to ruin this straw in the name of science.
This water straw had other plans though and saw straight through my doubt.

<%= partial "partials/image.erb", locals: {
    src: "IMG_20170410_195705-2.jpg",
    alt: "Bovon Water Straw Test 2 Smoothie Final"} %>

Amazingly, I tasted clean water through the straw and there was no taste at all.
I'll be honest that I was impressed.

Next I had to work to clean the filter which took a bit of extra work due to tough test it went through.
I ran water through the top of the filter and blew into the top several times.
Then I let it sit in a glass of water.
The particles slowly flowed out of the straw to the bottom of the cup after sitting 15 minutes or so.
Then I took the filter out of the water and let it sit overnight to dry out.
Once the straw dried out I put the top and bottom cap on and stored the straw.

[Amazon Link](http://www.amazon.com/gp/product/B06XKFV2BM)

<a href="https://www.tomoson.com?code=BOTTOM5437f08da460375c2b04a3259f647f84" rel="nofollow" style="display: none;"></a>
