---
title: "Honor Run Half Marathon Race Report"
tags: half marathon, race report, florence, kentucky, bibrave, bibravepro
top_img: "22toomanymedal.jpg"
race: {
  location: "Florence, Kentucky",
  date: "Sunday, November 12, 2017",
  distances: "Half Marathon, 5k, Kids Run, 2-Person Relay",
  url: "http://www.honorrunhalf.com/",
  strava_url: "https://www.strava.com/activities/1275710558/embed/d5ee66cef588899e5f32bc95fe69b627ce508c0d"
}
---

*Disclaimer: I received a free entry into the [Honor Run Half Marathon](http://www.honorrunhalf.com/) as part of being a BibRave Pro. Learn more about becoming a [BibRave Pro](https://www.bibrave.com/bibravepro) (ambassador), and check out [BibRave.com](https://www.bibrave.com/) to review find and write race reviews!*

Originally I was planning on this to be a PR race for me.
I ended up PRing at the [Urban Bourbon Half]() just a few weeks prior.
I had some heavy miles in October and at this point was still elated about my new PR so I put PRing for this race out the window.

In the back of my mind I was secretly hoping to PR but once the race started it became apparent that this wasn't the best course to PR on anyways.
More to come on that.

###Camping

Florence is close to Big Bone Lick State Park, a place I've wanted to visit for a while now.
I also wanted to bring my dog.
So my options were basically a lower quality hotel that would accept my massive dog or to camp.
I picked camping last minute even though it was going to be pretty chilly.
I packed up my 0 degree sleeping bag for the occasion.
The temperature had no impact on Viira.

<blockquote class="instagram-media" data-instgrm-captioned data-instgrm-version="7" style=" background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; max-width:658px; padding:0; width:99.375%; width:-webkit-calc(100% - 2px); width:calc(100% - 2px);"><div style="padding:8px;"> <div style=" background:#F8F8F8; line-height:0; margin-top:40px; padding:37.5% 0; text-align:center; width:100%;"> <div style=" background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACwAAAAsCAMAAAApWqozAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAMUExURczMzPf399fX1+bm5mzY9AMAAADiSURBVDjLvZXbEsMgCES5/P8/t9FuRVCRmU73JWlzosgSIIZURCjo/ad+EQJJB4Hv8BFt+IDpQoCx1wjOSBFhh2XssxEIYn3ulI/6MNReE07UIWJEv8UEOWDS88LY97kqyTliJKKtuYBbruAyVh5wOHiXmpi5we58Ek028czwyuQdLKPG1Bkb4NnM+VeAnfHqn1k4+GPT6uGQcvu2h2OVuIf/gWUFyy8OWEpdyZSa3aVCqpVoVvzZZ2VTnn2wU8qzVjDDetO90GSy9mVLqtgYSy231MxrY6I2gGqjrTY0L8fxCxfCBbhWrsYYAAAAAElFTkSuQmCC); display:block; height:44px; margin:0 auto -44px; position:relative; top:-22px; width:44px;"></div></div> <p style=" margin:8px 0 0 0; padding:0 4px;"> <a href="https://www.instagram.com/p/BbX2yPRFZ4C/" style=" color:#000; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:normal; line-height:17px; text-decoration:none; word-wrap:break-word;" target="_blank">Someone is more excited than me for some cold weather camping. Last weekend of the camping season at Big Bone Lick State Park 🏕️ #camping Accommodations for @honorrunhalf #bibchat #campingwithdogs #alpsmountaineering</a></p> <p style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; line-height:17px; margin-bottom:0; margin-top:8px; overflow:hidden; padding:8px 0 7px; text-align:center; text-overflow:ellipsis; white-space:nowrap;">A post shared by Nicole Huston (@bonktothefinish) on <time style=" font-family:Arial,sans-serif; font-size:14px; line-height:17px;" datetime="2017-11-11T23:05:08+00:00">Nov 11, 2017 at 3:05pm PST</time></p></div></blockquote> <script async defer src="//platform.instagram.com/en_US/embeds.js"></script>

The campsite was about a 20 minute drive from the Florence Mall where both packet pick up and the race start/finish would be.
I headed down in time to set up the tent while it was still light out and grab some groceries before heading to packet pick up.

###Packet Pick-Up

My favorite thing about packet pick-up was how late it was open.
The packet pick-up was located inside of the mall from noon-9pm!
This meant I had plenty of time Saturday morning to pack and travel to Florence without feeling like I had to be watching the clock all day.

I got to packet pick-up around 7pm.
The mall was pretty full as it was a Saturday night.
The email stated that the location was the lower center court.
I circled around what I thought was the lower center court for a while really not seeing anything that looked remotely like where I was supposed to be.
Finally, I asked a kiosk employee if she had any idea where I was supposed to be.
She pointed not 100 feet from where I was standing and there it was.
The packet pick-up had black tables and honestly blended in pretty well.
I think a bigger banner or some signs would have helped to find the location.

Once I found the packet pick-up it was a breeze with no lines and there was options to buy last minute items from the local running store.

###Race Day

The race started and finished at the famous Florence Y'All water tower.
Temperatures were chilly in the lower 30s at the start.
I sat in my car not wanting to stand in the cold before getting a text from the other BibRave Pro [Henry](https://www.runspirited.com/single-post/2017/11/15/Honor-Run-race-review-The-good-the-bad-and-the-hilly), saying that the mall food court was open.
How nice!
I headed that way to keep warm before the race start.
There were long lines for the men's and women's bathrooms but surprisingly only one person waiting in line for the family restroom.
I hoped in line and was in and out in a matter of minutes!
Can't beat that!

<%= partial "partials/image.erb", locals: {
     src: "start.jpg",
     alt: "Honor Run Half BibRave Pros 2017"} %>

Heading to the start line it was cold but luckily there wasn't much wind.
The race start had no pacers or pace signs so it was difficult to know exactly where to line up.
I started a bit further back than I should have mostly because I was thinking I wasn't there to PR.

As the race began I was trying to hold back on pace but with the first stretch being a slight downhill I had to let that go.
About 2 miles in the race hit the first major hill.
The course loops around what I thought seemed like pretty major roads.
It was nice to have tons of space especially in the early miles as everyone locked in their pace.

<%= partial "partials/image.erb", locals: {
     src: "mile1.jpg",
     alt: "Honor Run Half Mile 1ish picture 2017"} %>

From here we headed towards the Cincinnati Airport (which is actually in Kentucky... how confusing is that).
As the airport was coming into sight we hit a downhill.
I saw a runner on the other side of the street running up and realized that I was going to have to head back up.
That took some of the enjoyment out of the downhill!
There was rolling hills from here until the first turn around point.
At this point I'm thinking this whole thing is a bit hillier than I was expecting.

And as some sort of big joke that worst hills were yet to come!
After the out and back stretch near the airport there was another out and back section.
And these hills were much longer.
At this point I decide I'm running from here on based on effort, not pace.
The one thing I did like about all the out and backs was that it made the race feel much larger being able to see the top runners all the way to the back of the back runners.
That helped the time pass a little but mostly this stretch felt never ending.

Raindrops came around mile 11 and I picked up the pace to beat the rain.
Arguably the worst hill arrived at mile 12.
It was short but steep.
I was increasing my effort to try to climb up faster but the difference in my pace was almost nothing.
It seemed like one of those hills you probably could have walked as fast as your ran.

I tried to pick up the pace after this hill into the finish but my legs were pretty beat.
I don't have a ton of hill training opportunities in Columbus so I was defintely lacking.

**Final Time:** 1:43:21

<%= partial "partials/image.erb", locals: {
     src: "finish.jpg",
     alt: "Honor Run Half Finisher's Certificate 2017"} %>

For a small race the finish line was amazing. At the start of the race it was announced that Skyline would not be at the finish as expected.
Bummer!
They weren't missed though with all the options.
Mini cupcakes, a BBQ foodtruck, subs, cookies, gatorade, coffee, and more stuff that I didn't explore.
This was probably my favorite part of the race even though I didn't eat much as I've recently started eating vegan.
I got a sub and picked off the meat.
I only hung around for a short time though as I got cold FAST once I stopped running.
Brrrr, I made it back to my car and threw on several extra layers.

<%= partial "partials/image.erb", locals: {
     src: "watertower.jpg",
     alt: "Honor Run Half Finisher Picture with Florence Y'All Watertower 2017"} %>

###Race Collections

<%= partial "partials/image.erb", locals: {
     src: "shirtmedal.jpg",
     alt: "Honor Run Half Shirt and Medal at Big Bone Lick State Park 2017"} %>
