---
title: "Forget the PR Race Report"
tags: race, ultramarathon, trail running, 50k
top_img: "33954165251_e24fae8b07_o.3.jpg"
race: {
  location: "Mohican State Park, Loudonville, Ohio",
  date: "April 15th, 2017",
  distances: "50k",
  participants: "171",
  url: "http://www.mohican50k.com/",
  strava_url: "https://www.strava.com/activities/943834779/embed/1119b00e6c36d72c343976b7d814cf34df3407bc"
}
---

Two weeks after [Georgia Death Race](http://www.runbumtours.com/georgia-death-race) I was already at the starting line of another ultra.
My quads were ruined and the blisters on my feet had just started to heal.

Somewhat impulsively, I had waitlisted for Forget the PR a few months back.
I was having bad [FOMO](https://en.wikipedia.org/wiki/Fear_of_missing_out), it would be a whole year before I'd have the oppurtunity to run this race again.
So I signed up, but convinecd myself: "There's no way I actually make it off the waitlist."
This would be a tough race, and it would come only two weeks after GDR, the toughest race I've ever done.
Then...I made it off the waitlist and secured my spot.

The good news was that I finished GDR in decent shape.
I was beat up, sure, but I had no concerns with potential injuries or lingering pains.

<%= partial "partials/image.erb", locals: {
    src: "33954165251_e24fae8b07_o.3.jpg",
    alt: "Forget the PR race start" } %>

Without further delay, the race was upon me.
I started further back than usual, but quickly realized this pace was too conservative.
It took me the first 5 miles to finally start to lock in my pace.
My strategy kept moving back and forth from being conservative to giving it all I got.
The hills of the course were nothing compared to GDR which made me feel confident that I could push the pace.
I ended up settling for something in the middle between a full out race and a casual 50k training run.

After the start runners traveled through a section of rolling hills before exiting the trail and running down a paved road to climb up the "Big Ass Hill."
I had heard of the hill but wasn't sure what to expect.
It was longer and steeper than I imagined.
I hit the top huffing and puffing only to discover another hill also as tall but not as steep.

The next stretch was through pines, offering pretty vistas and some cooling shade.
Here I locked in pace with another runner.
After we hit the first aid station, we caught up with two additional runners and had a nice group for the remainder of the first loop.

<%= partial "partials/image.erb", locals: {
    src: "34043930246_35a65f41ca_o.jpg",
    alt: "Forget the PR tree" } %>

The first loop included an add-on loop which meant you racked up 18(ish) miles before hitting the start/finish.
Exiting the aid station I found myself with a new mix of runners headed back out toward the trail.
Two girls flew by me and I focused on following them.

Going into the race the course seemed a bit confusing, but I figured I could trail others and make my way through it.
This worked well until I hit a fork.
The two girls in front of me headed right and I didn't think anything of it.
After awhile someone shouted out I was headed the wrong way!
Snapping back into attention I noticed something: the course flags were the correct color, but were on my right.
They were always supposed to be on my left.
I started walking, confused.
I asked a runner coming at me if he had seen other runners headed towards him.
He said there were two girls right ahead of me!
Welp.
There were a *few* more than two runners ahead of me, so I turned around.

<%= partial "partials/image.erb", locals: {
    src: "18156061_1551077361568952_8357051738232247071_o.jpg",
    alt: "Forget the PR running" } %>

A few minutes later back at the fork I went the opposite direction, and a volunteer confirmed I was headed the right way.
Clearly I was confused on the directions.
I thought we weren't supposed follow orange flags at all on the second loop, but that was wrong.
Also the race information talked about going "up the hill" or "down the hill" and I thought it was referring to the Big Ass Hill, not a random hill 1.5 miles from the finish.

I also got lost at [Run for Regis](/blog/run-for-regis-50k-race-report.html) this year.
So as you can see, I clearly suck at navigating when there isn't a super detailed map with directions.

The good news is that I added only a mile or so extra, so not bad.
Later when I was 5 miles from the finish, one of the other runners passed me.
I recognized her and asked how far off course she got.
She informed me that she added on 4 miles.
Yikes.
I don't even want to know how much extra the girl who was in front of her added.

A few miles later I picked met another new runner and we talked for at least 8 miles.
Eventually we started to slow as his legs cramped.
Despite this, he challenged me to break 7 hours, and I thought I could if I pushed it.
I thanked him for his support and we parted ways.

<%= partial "partials/image.erb", locals: {
    src: "18155852_1551079058235449_4627948797140767007_o-2.jpg",
    alt: "Forget the PR running and smiling" } %>

All I had left was several miles of rolling hills before exiting the trail and heading through the camp ground to the finish.
I gave it my all but didn't break 7 hours.

**Final Time:** 7:02:24

###Race Collections

<blockquote class="instagram-media" data-instgrm-captioned data-instgrm-version="7" style=" background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; max-width:658px; padding:0; width:99.375%; width:-webkit-calc(100% - 2px); width:calc(100% - 2px);"><div style="padding:8px;"> <div style=" background:#F8F8F8; line-height:0; margin-top:40px; padding:50.0% 0; text-align:center; width:100%;"> <div style=" background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACwAAAAsCAMAAAApWqozAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAMUExURczMzPf399fX1+bm5mzY9AMAAADiSURBVDjLvZXbEsMgCES5/P8/t9FuRVCRmU73JWlzosgSIIZURCjo/ad+EQJJB4Hv8BFt+IDpQoCx1wjOSBFhh2XssxEIYn3ulI/6MNReE07UIWJEv8UEOWDS88LY97kqyTliJKKtuYBbruAyVh5wOHiXmpi5we58Ek028czwyuQdLKPG1Bkb4NnM+VeAnfHqn1k4+GPT6uGQcvu2h2OVuIf/gWUFyy8OWEpdyZSa3aVCqpVoVvzZZ2VTnn2wU8qzVjDDetO90GSy9mVLqtgYSy231MxrY6I2gGqjrTY0L8fxCxfCBbhWrsYYAAAAAElFTkSuQmCC); display:block; height:44px; margin:0 auto -44px; position:relative; top:-22px; width:44px;"></div></div> <p style=" margin:8px 0 0 0; padding:0 4px;"> <a href="https://www.instagram.com/p/BS622zNFyfU/" style=" color:#000; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:normal; line-height:17px; text-decoration:none; word-wrap:break-word;" target="_blank">A little more bling to add to my collection. And yea I&#39;m still dead from Georgia Death Race #ultrarunning #ultrarunner #50k #forgetthepr #mohican #runner #running #buckle #bibravepro</a></p> <p style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; line-height:17px; margin-bottom:0; margin-top:8px; overflow:hidden; padding:8px 0 7px; text-align:center; text-overflow:ellipsis; white-space:nowrap;">A post shared by Nicole Huston (@bonktothefinish) on <time style=" font-family:Arial,sans-serif; font-size:14px; line-height:17px;" datetime="2017-04-15T20:36:38+00:00">Apr 15, 2017 at 1:36pm PDT</time></p></div></blockquote>
<script async defer src="//platform.instagram.com/en_US/embeds.js"></script>

<%= partial "partials/image.erb", locals: {
    src: "IMG_20170416_113649.jpg",
    alt: "Forget the PR shirt, buckle, hat, sticker, and bib" } %>

---

Race Photos from [Matt Philips](https://www.flickr.com/photos/skysrfr/) and Stuart Siegfried
{: .small }
