---
title: "North Olympic Discovery Marathon Race Report"
tags: marathon, bibrave, road running, washington
race: {
  location: "Sequim to Port Angeles, Washington",
  date: "Sunday, June 3rd, 2018",
  distances: "26.2, 13.1, Relay, 10k, 5k, Kid's Race",
  participants: "225 (marathon)",
  url: "http://nodm.com/",
  strava_url: "https://www.strava.com/activities/1626134602/embed/466940f3a18e819c2d0295d1f6ec3db581a8b75b"
}
---

*Disclaimer: I received a free entry into the [North Olympic Discovery Marathon](http://nodm.com/) as part of being a BibRave Pro. 
Learn more about becoming a [BibRave Pro](https://www.bibrave.com/bibravepro) (ambassador), and check out [BibRave.com](https://www.bibrave.com/) to review find and write race reviews!*

###Expo
This was a small little expo with tons of local races there handing out flyers! I grabbed as many as I could since I'm local and new to the area.

<%= partial "partials/image.erb", locals: {
    src: "expo-pic.jpg",
    alt: "North Olympic Discovery Marathon 2018 Expo"} %>

If I went to the expo again I would have avoided going during the kid's race.
I didn't know at the time that it was going on but parking was a bit tight in Port Angeles and might have been better if I had avoided it.
Also the kid's race was HUGE! If you have kid's definitely sign them up.

<%= partial "partials/image.erb", locals: {
    src: "kids-race.jpg",
    alt: "North Olympic Discovery Marathon 2018 Kids Race Start"} %>

###Camping
I picked a camping spot close to the race start at Seqium Bay State Park.
Let me start by saying it was a beautiful area right on the water and definitely my favorite camping spot so far in Washington.

It was about 2 miles from the race start which made it a quick drive in the morning. The marathon passed right through the park but luckily it was early enough in the race that I didn't debate heading back to my campsite.



###Dinner
Check out Sawadee Thai in Sequim. SO GOOD.

<blockquote class="twitter-tweet" data-lang="en">
<p lang="en" dir="ltr">Sawadee Thai for dinner before <a href="https://twitter.com/NODMarathon?ref_src=twsrc%5Etfw">@NODMarathon</a> tomorrow. It was amazing and I&#39;m soooo full 😬 <a href="https://twitter.com/hashtag/bibchat?src=hash&amp;ref_src=twsrc%5Etfw">#bibchat</a> 
<a href="https://twitter.com/hashtag/nodmbr?src=hash&amp;ref_src=twsrc%5Etfw">#nodmbr</a> 
<a href="https://t.co/Z1mctUnJDv">pic.twitter.com/Z1mctUnJDv</a>
</p>&mdash; Nicole (@bonktothefinish) <a href="https://twitter.com/bonktothefinish/status/1003100848153595904?ref_src=twsrc%5Etfw">June 3, 2018</a>
</blockquote>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

###26.2
The marathon course was mainly rolling hills with some flat stretches mixed in. 
The hills can easily wear you out early if you're not careful! 

The aid stations were stocked with sports drink and water with snacks. 
Off the top of my head I remember gels, fruit, gummy bears, and pretzels. 
Most aid stations had multiple options. 
I thought this was more than what you'd find at the typical marathon which was definitely a perk.

The course really didn't have many spectators which I think was ok for this course. 
It was very scenic and spectators might have detracted from that.

<%= partial "partials/image.erb", locals: {
    src: "mile-23ish.jpg",
    alt: "North Olympic Discovery Marathon Mile 23ish"} %>

The marathon race start had tons of parking and no traffic. 
Parking was more limited in Port Angeles so it definitely seemed easier to park at the start (plus that way you can sleep in a little later!). 
There was a shuttle for people who parked near the finish.
I didn't use it and can't comment on the experience, but I'm sure it helped simplify planning for many people.

The race also had free pictures which is always an unexpected plus!

<%= partial "partials/image.erb", locals: {
    src: "finishing-pic.jpg",
    alt: "North Olympic Discovery Marathon 2018 Bibrave Pro Finishing"} %>

Overall I would say that I would run this race again for the scenery and the quarter zip! My only complaint was that they ran out of heat sheets. 
It was a cold day to begin with and I ran the last couple miles in the rain. 
I didn't stick around at the finish for long because I was cold and wet but might have had the race had more sheets left. 
I finished around 4:30 so there was still a good amount of runners behind me.

**Final Time:** 4:23:52.75

<%= partial "partials/image.erb", locals: {
    src: "finish-views.jpg",
    alt: "North Olympic Discovery Marathon 2018 Finish Area near Beach",
     caption: "This is what the beach by the finish looks like on a sunny day. This was taken at the expo NOT the morning of the race when I finished in the rain."} %>

###Race Collections

<%= partial "partials/image.erb", locals: {
    src: "race-collections.jpg",
    alt: "North Olympic Discovery Marathon Quarter Zip, Medal, and Bag 2018"} %>

**Related Articles**

- [When Life Gets in the Way of Training](when-life-gets-in-the-way.html)
- [Race Alert! North Olympic Discovery Marathon](north-olympic-discovery-marathon.html)

Post-race, I was able to jump on Athlinks.com and claim my race results. You can check out how I did it [here](https://bonktothefinish.com/blog/athlinks), and while you’re at it, jump on and make an account too. Don’t forget to add me as a friend so we can go head-to-head in future races!