---
title: "4-Door Sedan Dog Proofing"
tags: pet, dog, product review
published: true
---

<a href="https://www.tomoson.com?code=TOPd51fff73d752f34efcb8c1d8ee0a0e18" rel="nofollow" style="display: none;"></a>

Vacations aren't as fun without my dog Viira.
The following products dog-proof my 4-door Honda civic, keeping it and my dog safe when out and about.
Viira definitely appreciates exploring new places!

<%= partial "partials/image.erb", locals: {
     url: "xx2i-bahamas1-review.html",
     src: "/images/blog/full_size/2017/2017-06-17-xx2i-bahamas1-review/bahamas-1-dog.jpg",
     alt: "Viira looking cool"} %>

###1. [INNX Stretchable Back Seat Barrier](https://www.amazon.com/gp/product/B01M724OX6/ref=as_li_qf_sp_asin_il_tl?ie=UTF8&tag=bonktothefi07-20&camp=1789&creative=9325&linkCode=as2&creativeASIN=B01M724OX6&linkId=162b5b382e26bf90f211dd9a4366022a)

This is perfect for making sure my dog doesn't climb into the front seat of my car and claw up the center console.
It also prevents Viira from jumping in my lap while going 70 on the freeway, helping keep us both safe.

I've gone through several similar products that either didn't fit very well or did little to keep my dog out of the front seat.
This one works well and is easy to attach.
Additionally it is cheaper than most [metal](https://www.amazon.com/gp/product/B000I1PJNO/ref=as_li_qf_sp_asin_il_tl?ie=UTF8&tag=bonktothefi07-20&camp=1789&creative=9325&linkCode=as2&creativeASIN=B000I1PJNO&linkId=b30e5b3f7c8f160ef357f8f0b53f4b68) alternatives.

<%= partial "partials/image.erb", locals: {
     url: "https://www.amazon.com/gp/product/B01M724OX6/ref=as_li_qf_sp_asin_il_tl?ie=UTF8&tag=bonktothefi07-20&camp=1789&creative=9325&linkCode=as2&creativeASIN=B01M724OX6&linkId=a146d548f83860c0c72724e7b1b5bf37",
     src: "INNX-back-seat-barrier.jpg",
     alt: "INNX Back Seat Car Barrier for Dogs"} %>

###2. [Paws 'n' Claws Dog Seatbelt](https://www.amazon.com/gp/product/B00PWV17PY/ref=as_li_qf_sp_asin_il_tl?ie=UTF8&tag=bonktothefi07-20&camp=1789&creative=9325&linkCode=as2&creativeASIN=B00PWV17PY&linkId=b81830ff8c28981a7729669efcd9940b)

This attaches to two headrests.
Because it is higher up than a doggy seat belt extension, it is less likely for your pet to get tangled while traveling.

<%= partial "partials/image.erb", locals: {
     url: "https://www.amazon.com/gp/product/B00PWV17PY/ref=as_li_qf_sp_asin_il_tl?ie=UTF8&tag=bonktothefi07-20&camp=1789&creative=9325&linkCode=as2&creativeASIN=B00PWV17PY&linkId=b81830ff8c28981a7729669efcd9940b",
     src: "Paws-n-Claws-dog-seatbelt.jpg",
     alt: "Paws 'n' Claws Safety Seatbelt for Dogs"} %>

###3. [Kurgo Crash Tested Harness](https://www.amazon.com/gp/product/B0064ACNLO/ref=as_li_qf_sp_asin_il_tl?ie=UTF8&tag=bonktothefi07-20&camp=1789&creative=9325&linkCode=as2&creativeASIN=B0064ACNLO&linkId=87a316dd484764d279d8bf8d5cbb0499)

I've owned a Kurgo harness in the past but my dog grew out of it.
The quality of Kurgo's harnesses have improved dramatically since the first one I bought, and now their car harness is crash tested.

Unfortunately the crash testing was only performed for dogs up to 75 pounds.
It'd be nice if larger dogs could get some safety test data too.
That said, it definitely helps put my mind at ease when Viira's in the car.

The metal buckles can be a bit difficult to snap into place, but they feel much studier than the plastic clips common in other buckles.

<%= partial "partials/image.erb", locals: {
     url: "https://www.amazon.com/gp/product/B0064ACNLO/ref=as_li_qf_sp_asin_il_tl?ie=UTF8&tag=bonktothefi07-20&camp=1789&creative=9325&linkCode=as2&creativeASIN=B0064ACNLO&linkId=87a316dd484764d279d8bf8d5cbb0499",
     src: "kurgo-car-harness.jpg",
     alt: "Kurgo Tru-Fit Crash Tested Dog Harness"} %>

###4. [Go Buddy Hammock Style Car Seat Cover](https://www.amazon.com/gp/product/B019270UU6/ref=as_li_qf_sp_asin_il_tl?ie=UTF8&tag=bonktothefi07-20&camp=1789&creative=9325&linkCode=as2&creativeASIN=B019270UU6&linkId=9479748c4a945ab30a2970120f0ea42c)

The sizing of this seat cover definitely fits a sedan better than an SUV.
It is waterproof and scratch-proof to protect your seats.
There are two pockets for extra storage, and two holes to let the seat beat receptacles through.

When it gets full of dog hair, it's much easier to clean out than vaccuming the whole car.
Just unclip the buckles, remove from car, and shake it out.
Then it can go right back in.

<%= partial "partials/image.erb", locals: {
     url: "https://www.amazon.com/gp/product/B019270UU6/ref=as_li_qf_sp_asin_il_tl?ie=UTF8&tag=bonktothefi07-20&camp=1789&creative=9325&linkCode=as2&creativeASIN=B019270UU6&linkId=9479748c4a945ab30a2970120f0ea42c",
     src: "Go-Buddy-dog-car-hammock.jpg",
     alt: "Go Buddy Hammock Style Waterproof Dog Car Seat Cover"} %>

###Be Safe!

Since we're talking about dogs and cars, be sure to [never leave your pet](http://www.humanesociety.org/animals/resources/tips/help-dog-in-hot-car.html) in a hot vehicle.
Rolling down windows does not help much, a car can reach 100F in under 10 minutes if it is 80F outside.
Help keep your pup safe.


<a href="https://www.tomoson.com?code=BOTTOMd51fff73d752f34efcb8c1d8ee0a0e18" rel="nofollow" style="display: none;"></a>
