---
pageable: true
---

<h1 class="center"><%= blog.articles.length %> Article Archive</h1>

<% page_articles.group_by {|a| a.date.year }.each do |year, year_articles| %>

  <h2><%= year %></h2>
    <% year_articles.group_by {|a| a.date.month }.each do |month,month_articles| %>
      <div class="month">
        <h3><%= Date::MONTHNAMES[month] %></h3>

        <%= partial "partials/post_summaries.erb", locals: {
            articles: month_articles }%>

      </div>
    <% end %>

<% end %>

<%= partial "partials/pages.erb"%>
