
<%= 
# partial "partials/slideshow.erb", locals: { images: [
#   {url: "https://www.w3schools.com/howto/img_lights_wide.jpg" , alt: "Image 1"},
#   {url: "https://www.w3schools.com/howto/img_mountains_wide.jpg", alt: "Image 2"},
#   {url: "https://bonktothefinish.com/images/site-header-img.jpg", alt: "header"},
#   {url: "/blog/5th-line-5k-race-report/CapCity Sports Media-30688-XL.jpg", alt: "header"},
#   # {url: "https://www.w3schools.com/howto/img_mountains_wide.jpg", alt: "Image 2"},
# ] } 
%>

<% content_for :head do
  js = javascript_include_tag "index"
end %>
<%= partial "partials/post_feature.erb", locals: {
  article: blog.articles[0],
  id: "featured_post" }%>

<div class="sub_features">
  <%= partial "partials/post_feature.erb", locals: {
    article: blog.articles[0],
    id: "random_post_1"   }%>

  <%= partial "partials/post_feature.erb", locals: {
    article: blog.articles[0],
    id: "random_post_2" }%>
</div>

<%= partial "partials/tabs.erb", locals: { tabs: tab_groupings() } %>
